body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}
.container {
  margin-top: 30px;
}
.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
}
.btn-custom {
  background-color: #007bff;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-custom:hover {
  background-color: #0056b3;
}
.form-control {
  margin-bottom: 15px;
  border-radius: 5px;
}
h2 {
  color: #333;
  font-weight: bold;
}
.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.serial-number {
  font-weight: bold;
  font-size: 18px;
  color: #555;
  text-align: center;
}
.add-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .input-row {
    flex-wrap: wrap;
  }
  .input-row > div {
    width: 100%;
    margin-bottom: 10px;
  }
}
.btn-send {
  background-color: #28a745;
  width: 100%;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  transition: background-color 0.3s ease;
}
.btn-send:hover {
  background-color: #218838;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}
#passwordInput {
  background-color: #f8f9fa;  /* Light background */
  border: 1px solid #ccc;     /* Border with subtle color */
  border-radius: 0.375rem;     /* Rounded corners */
  padding: 10px;               /* Padding for better user experience */
  font-size: 16px;             /* Appropriate font size */
}

#passwordInput:focus {
  border-color: #007bff;      /* Border color changes when focused */
  outline: none;              /* Remove default outline */
}

.form-label {
  font-weight: 600;            /* Label styling */
  margin-bottom: 5px;          /* Space below the label */
}

.mb-3 {
  margin-bottom: 1rem;         /* Consistent spacing for form controls */
}
